# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

# Api key
API_KEY=ftfghdf6r6546r76t6t75yt67u

# The lowest level of logs to output
LOG_LEVEL=debug

# The secret to encrypt session IDs with
PASSWORD=development
